.wrapper {
    &.header {
        padding-top: 0;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        &::after {
            content: "";
            height: 1px;
            width: 100%;
            margin: 0 auto;
            background-color: #BABBC5;
        }

        .logo-container {
            width: 26.5%;
        }

        nav {
            width: max-content;

            .nav-list {
                display: flex;
                position: relative;
                width: max-content;

                &__item {
                    width: 134px;

                    &:hover::after {
                        content: "";
                        height: 3px;
                        width: 134px;
                        background-color: #BABBC5;
                        display: block;
                        position: absolute;
                        bottom: -9px;
                    }



                    &:active:after {
                        content: "";
                        height: 3px;
                        width: 134px;
                        background-color: #E71414;
                        display: block;
                        position: absolute;
                        bottom: -9px;
                    }

                    &-link {
                        @extend %h6;
                        display: block;
                        text-align: center;
                        text-transform: uppercase;
                        padding: 34px 0;
                        color: white;
                        position: relative;
                        white-space: nowrap;


                        &:active {
                            color: #E71414;
                        }

                    }
                }
            }
        }

        .navbar-toggler {
            display: none;
            width: 0;
        }

        input {
            display: none;
        }
    }
}

header {
    position: sticky;
    z-index: 6;
    top: 0;

}

@media (max-width: 1200px) {
    .wrapper.header nav .nav-list__item-link {
        font-size: 12px;
        line-height: 14px;
        padding: 34px 21px;
    }
}

@media (max-width: 950px) {
    .wrapper.header nav .nav-list__item {
        width: 108px;
    }
}

@media (max-width: 768px) {

    .wrapper.header,
    .nav-list {}

    .wrapper {
        &.header {

            &::after {
                width: 0;
                display: none;
            }

            .logo-container {
                width: 200px;
            }

            nav {

                .nav-list {
                    background: linear-gradient(0deg, rgba(37, 43, 73, 0.8), rgba(37, 43, 73, 0.8)), url('../assets/bg-img.png') no-repeat fixed bottom;
                    display: grid;
                    position: absolute;
                    width: 100%;
                    top: 0;
                    left: 0;
                    transform: translateY(-100%);
                    z-index: -1;
                    transition: .6s;

                    &__item {
                        padding: 6px 0 5px 35px;
                        width: max-content;

                        &-link {
                            padding: 15px 0;
                            text-align: start;
                        }
                    }
                }
            }

            nav .navbar-toggler {
                display: grid;
                height: 18px;
                cursor: pointer;
                margin-right: 45px;

                .bar {
                    background-color: white;
                    width: 24px;
                    height: 3.6px;
                    margin-bottom: 3.6px;
                    transition: .4s;

                }
            }

            input:checked~nav .nav-list {
                transform: translateY(101px);
                padding-bottom: 178px;
            }

            input:checked~nav .navbar-toggler {
                margin-top: 35px;
            }

            input:checked~nav .navbar-toggler .bar:nth-child(1) {
                position: absolute;
                transform: rotate(45deg);
            }

            input:checked~nav .navbar-toggler .bar:nth-child(2) {
                display: none;
            }

            input:checked~nav .navbar-toggler .bar:nth-child(3) {
                transform: rotate(-45deg);
            }
        }
    }
}