* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 1200px;
    padding-top: 120px;
    display: flex;
    margin: 0 auto;

    @media (max-width: 1200px) {
        width: 96%;
    }
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    display: flex;
}

header,
.main-section {
    background: linear-gradient(0deg, rgba(37, 43, 73, 0.8), rgba(37, 43, 73, 0.8)), url('../assets/bg-img.png') no-repeat fixed center;
}